@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/********* GENERAL ******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #4b4b4b;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  margin: 10px;
  padding: 96px 0;
  display: flex;
  justify-content: space-evenly;
}

.text--blue {
  color: #2471de;
}

section {
  padding: 0 20px;
}

main {
  margin-bottom: 96px;
}

p {
  font-size: 24px;
  color: #242424;
}

/****** NAV BAR ******/

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding: 4px;
  gap: 15px;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin: 30px;
  padding: 5px;
}

.login {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(95, 122, 253);
  border-radius: 12px;
  border: none;
  margin: 10px;
  padding: 5px;
}

.text--whitesmoke {
    color: whitesmoke;
}

.logo {
  width: 40px;
  height: 40px;
}

.treact {
  font-size: 26px;
  font-weight: 800;
  color: #243d5f;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/*********** HEADER ******************** ABOUT    US *************/

.header {
  margin: 10px;
  max-width: 1000px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row--react {
  width: 100%;
  max-width: 400px; /* Max width for the container */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: space-evenly; /* Space elements evenly */
  align-items: stretch; /* Stretch items to fill height */
  padding: 20px; /* Adjust padding as needed */
}

.design {
  max-width: 900px;
  max-height: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

.begin {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.submit {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(95, 122, 253);
  width: 100px;
  height: 50px;
  border-radius: 12px;
  border: none;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  background-color: rgb(195, 224, 255);
}

.trust {
  font-size: 10px;
  color: rgb(160, 174, 192);
  font-size: 12px;
  font-weight: 700;
}

/*** FEATURES ****/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******* QUALITY WORK ******/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******** STEPS ******/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******** VALUES *********/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** PRICING  *******/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******  Testimonials  ******/

#testimonials .row {
  display: flex;
}

/*******  START ********  CALL  TO ACTION   *******/

#start .row {
  position: relative;
  overflow: hidden;
}

/******  FOOTER  *****/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/*****  MEDIA QUERIES   ******/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
